/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */

  --background-image: url("../images/cover-image-light.png");

  --main-header-color: var(--white-pink);
  --section-header-color: var(--dark-gray);
  --header-color: var(--dark-gray);
  --accent-color: var(--pink);
  --card-text-color: var(--dark-gray);
  --background-color: var(--nowhite);
  --button-color: var(--dark-gray);
  --button-transparent-color: var(--transparent-gray);
  --decorated-color: var(--dark-gray);
}

.theme-light .page {
  /* Вам также нужно будет написать ряд подобных селекторов */
}

.theme-light .label__rec {
  display: none;
}

/*в макете тень у заголовка в подвале цвета как у темной темы. Возможно это ошибка. Если нет, то нужно раскоментировать этот код
@media (width >= 1024px) {
  .theme-light .footer__header {  
    text-shadow: 2px 2px 0 var(--fuqsy);
  }
}*/

@media (prefers-color-scheme: light) {
  :root {
    --background-image: url("../images/cover-image-light.png");

    --main-header-color: var(--white-pink);
    --section-header-color: var(--dark-gray);
    --header-color: var(--dark-gray);
    --accent-color: var(--pink);
    --card-text-color: var(--dark-gray);
    --background-color: var(--nowhite);
    --button-color: var(--dark-gray);
    --button-transparent-color: var(--transparent-gray);
    --decorated-color: var(--dark-gray);
  }

  .label__rec {
    display: none;
  }
}

/*в макете тень у заголовка в подвале цвета как у темной темы. Возможно это ошибка. Если нет, то нужно раскоментировать этот код
@media (prefers-color-scheme: light) and (width >= 1024px) {
  .footer__header {
    text-shadow: 2px 2px 0 var(--fuqsy);
  }
}*/
